
#item1{

}


#img1{
  width: 200px;
  height: 100px;
}

#img2{
  width: 200px;
  height: 100px;
}

#track1{
  background: #2E0854;

}

#track2{
  background: #2E0854;
  border-top: dotted yellow;

}

h1{
  text-align: center;
  font-family: artDecoFont;
  color: yellow;
  font-size: 500%;
}

.winner {
  text-shadow: 2px 2px #FF0000;
}
#button{
  float: right;
  margin-right: 20px;
  color: yellow;
  background-color: #2E0854;
}

body {
  background-image: url("giphy.gif");
}

@font-face {
    font-family: artDecoFont;
    src: url("GrenadierNF.otf");
    src: url("GrenadierNF.ttf");
}
